---
layout: default
---

<div class="home">

    <h1>{{ site.course_name }} <span style="font-size: 20px;color: #0006;">/ {{ site.course_semester }} </span></h1>

    {% include announcements.html %}
    <br />

    <h2>Descripcion del curso</h2>
    <p>{{ site.course_description }}</p>

    <h2>Pre requisitos</h2>

 
    <p>Para poder hacer foco en estos conceptos necesito asumir que quienes realizan el curso conocen los siguientes conceptos</p>

    <ul>
	<li><strong>Gradiente</strong>: significado y utilización en optimización de funciones. Regla de la cadena </li>
	<li><strong>Probabilidad</strong>: Nocion de esperanza, esperanza condicional y test de hipótesis. </li>
	<li><strong>Programacion</strong>: Funciones, módulos, algunas técnicas de visualizacion, paquetes estadísticos. </li>
    </ul>

    <h2>Temario</h2>
    
    <p>Este listado es una versión resumida de algunos temas que vamos a abordar durante el curso</p>

    <ul>
	<li><strong>Aprendizaje supervisado</strong>: underfitting / overfitting, regularización, bias/variance trade-off</li>
	<li><strong>Metodología</strong>: caso de negocio, hipotesis, experimentos, KPIs, métricas offline, best practices, sanity checks</li>
	<li><strong>Model selection</strong>: Grid search, random search, secuential model based optimization, Auto ML</li>
	<li><strong>Procesamiento de lenguaje natural</strong>: tf-idf, word2vec, fasttext, transfer learning</li>
    </ul>

    <br/>
    
    {{ content }}

    <br>
    <div>
        <div style="width:35%; float: left">
            <!-- <h2>Instructors</h2> -->
            <!-- <div class="image--cover-container">
                <img src="{{site.data.people.instructor.profile_pic | prepend: site.baseurl }}" class="image--cover">
                <p>{{site.data.people.instructor.name}}</p>
            </div> -->

            <div class="profile-pic-gallary ">
                <h2>Profesor</h2>
                {% for ins in site.data.people.instructors %}
                <div class="image--cover-container">
                    <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
                    {% if ins.webpage %}
                    <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
                    {% else %}
                    <p>{{ins.name}}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
